@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
html {
  font-family: 'Noto Sans', serif;
  color: white;
  height: 95%;
  width: 100%;
}

body {
  margin-left: 0;
  width: 100%;
  background-color: #2C3233;
  overflow-x: hidden;
  height: 100%;
}

.header {
  padding: 5px;
  margin-bottom: 1%;
  background-color: #383838;
  height: 5%;
}

.header img {
  height: 100%;
}

.page {
  display: flex;
  gap: 5%;
  margin-left: 1%;
  height: 90%;
}

.content {
  display: flex;
  width: 65%;
  height: 100%;
}

.sidebar {
  display: flex;
  float: left;
  width: 25%;
  height: 100%;
  flex-direction: column;
  box-shadow: 0 3px 6px #454545;
  border-left: 3px solid #383838;
  border-right: 3px solid #383838;
  background-color: #383838;
}

.sidebar-header {
  text-align: center;
  height: 34px;
  padding: 5px;
  display: block;
  line-height: 34px;
  font-size: 20px;
  background-color: #383838;
}

.sidebar-content table {
  border-collapse: collapse;
  width: 100%;
}

.sidebar-content table td {
  padding: 5px;
  text-align: center;
}

.sidebar-content table tr:nth-child(even) {
  background-color: #9a9a9a;
}

.sidebar-content table tr:nth-child(odd) {
  background-color: #7f7f7f;
}

.centered-img {
  margin: auto;
  height: 34px;
  vertical-align: middle;
}

.inverted-img {
  filter: invert(1) brightness(0.95);
}

.builds {
  display: block;
  height: 50%;
  overflow-y: auto;
  width: 100%;
}

.build {
  padding: 1px;
  display: flex;
  height: 50px;
  gap: 5%;
}

.build a {
  vertical-align: middle;
  line-height: 50px;
}

.build-state {
  height: 100%;
  width: 35px;
}

.build-even {
  background-color: #9a9a9a;
}

.build-odd {
  background-color: #7f7f7f;
}

.build-info {
  width: 100%;
  box-shadow: 0 5px 8px #454545;
  border-collapse: collapse;
  height: 30%;
}

.build-info td {
  padding: 1%;
}

.content-header {
  display: flex;
  flex-direction: row;
  height: 15%;
}

.content-header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
}

.build-info-header {
  font-weight: bold;
  background-color: #009800;
}

.build-info-row:nth-child(even) {
  background-color: #9a9a9a;
}

.build-info-row:nth-child(odd) {
  background-color: #7f7f7f;
}

.copyright {
  font-size: 80%;
  font-style: italic;
  color: #9a9a9a;
  text-align: center;
  width: 100%;
  display: block;
}

.commit {
  height: 5%;
  padding: 5%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 3px 3px #454545;
}

.commit-header {
  height: 50%;
  margin-bottom: 1%;
  padding: 2%;
  text-align: center;
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.committer-avatar {
  height: 100%;
  display: inline-block;
}

.commit-body {
  text-align: center;
  font-size: 120%;
}

.commit-header-message {
  margin-left: 1%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.hidden {
  display: none !important;
}

.build-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  gap: 3%;
}
